<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="edu.purdue.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="edu.purdue.app.PurdueApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:theme"
        android:theme="@style/Theme.Purdue" >
        <activity
            android:name="edu.purdue.app.main.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.purdue.app.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:parentActivityName="edu.purdue.app.main.MainMenuActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.purdue.app.MainMenuActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".prefs.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="edu.purdue.app.main.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.purdue.app.main.MainMenuActivity" />
        </activity>



        <!--k9 activities-->

        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.Accounts"
            android:configChanges="locale"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/app_name">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="application/x-k9settings" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.Prefs"
            android:label="@string/prefs_title"
            android:configChanges="locale"
            android:taskAffinity="edu.purdue.app.mail.com.fsck.k9.activity.setup.Prefs"
            android:excludeFromRecents="true"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.WelcomeMessage"
            android:label="@string/welcome_message_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.FontSizeSettings"
            android:label="@string/font_size_settings_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.AccountSetupBasics"
            android:label="@string/account_setup_basics_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.AccountSetupAccountType"
            android:label="@string/account_setup_account_type_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.AccountSetupIncoming"
            android:label="@string/account_setup_incoming_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.AccountSetupComposition"
            android:label="@string/account_settings_composition_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.AccountSetupOutgoing"
            android:label="@string/account_setup_outgoing_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.AccountSetupOptions"
            android:label="@string/account_setup_options_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.AccountSetupNames"
            android:label="@string/account_setup_names_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.ChooseFolder"
            android:theme="@style/Theme.K9Dialog"
            android:label="@string/choose_folder_title"
            android:configChanges="locale"
            android:noHistory="true"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.ChooseIdentity"
            android:theme="@style/Theme.K9Dialog"
            android:label="@string/choose_identity_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.ManageIdentities"
            android:label="@string/manage_identities_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.EditIdentity"
            android:label="@string/edit_identity_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.NotificationDeleteConfirmation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            >
        </activity>
        <!-- XXX Note: this activity is hacked to ignore config changes,
             since it doesn't currently handle them correctly in code. -->
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.AccountSetupCheckSettings"
            android:label="@string/account_setup_check_settings_title"
            android:configChanges="keyboardHidden|orientation|locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.AccountSettings"
            android:label="@string/account_settings_title_fmt"
            android:configChanges="locale"
            >
        </activity>

        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.setup.FolderSettings"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/folder_settings_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.FolderList"
            android:configChanges="locale"
            android:uiOptions="splitActionBarWhenNarrow"
            >
            <intent-filter>
                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.MessageList"
            android:configChanges="locale"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"
            >
            <intent-filter>
                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="email"
                    android:host="messages"
                    />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.MessageCompose"
            android:label="@string/app_name"
            android:enabled="false"
            android:configChanges="locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <!-- Search Activity - searchable -->
        <activity android:name="edu.purdue.app.mail.com.fsck.k9.activity.Search"
            android:label="@string/search_action"
            android:configChanges="locale"
            android:uiOptions="splitActionBarWhenNarrow"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.LauncherShortcuts"
            android:label="@string/shortcuts_title"
            android:configChanges="locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.purdue.app.mail.com.fsck.k9.activity.AccessibleEmailContentActivity"
            >
        </activity>
        <activity android:name="edu.purdue.app.mail.com.fsck.k9.activity.EmailAddressList"
            android:configChanges="locale"
            >
        </activity>
        <!--END k9 activities-->
    </application>

</manifest>
